* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  /* color: #c7f6ff; */
  color: #c7f6ff;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.active-contrast {
  color: #9494ac;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.test {
  color: #1cccef;
}
